@charset "UTF-8";

.m-title{
	display: none;
}
.displayBlock{
   display: block;
}
.displayNone{
   display: none;
}
.paddingTop50px{
   padding-top: 50px;
}
.paddingTop100px{
   padding-top: 100px;
}
.paddingLeft20px{
   padding-left: 20px;
}
.service_ul{
   position: absolute;
   width: 90px;
   background:rgba(31, 73, 111, 0.1);
   display: block;
}
.service_li{
   text-align: center;
   line-height: 25px;
   background: rgba(31, 73, 111, 0.5);
   height: 25px;
   list-style: none;
}
.service_li a{
   color: white;
}
.service_li:hover{
   background: rgba(31, 73, 111, 0.7);
   cursor: pointer;
   color: white;
}
.service_li:hover a{
   color: white;
   text-decoration: none;
}
h1,h2,h3,h4,h5,h6{color:#333;}

*{padding: 0;margin: 0;}
article{
   clear: both;
}
/* navigation ***********************************************************************************************/
nav{
	height: 62px;
	width:100%;
	background: white;
	position: fixed;
	z-index: 100;
   box-shadow: 0px 2px 15px 0px rgba(51, 51, 51, 0.5);
}
.nav-contain{
	width: 1140px;	
	margin: 0 auto;
	height: 100%;
	font-size: 12px;
	color: #18A8F1;
	letter-spacing: 0.5px;
}
.nav-logoWrapper{
	width:200px;
	height: 100%;
	float: left;
	padding: 0 10px;
}
.nav-logoWrapper-img{
	width:132px;
	height: auto;
	text-align: center;
	line-height: 62px;
	margin:4.6px auto;
	cursor:pointer;
}
.nav-menuWrapper{
	float: left;
	width: 940px;
	height: 100%;
}
.nav-menu-ul{
/* 	display: inline-block; */
}
.nav-menu-ul a{
	text-decoration: none;
}
.nav-li{
	cursor:pointer;
	display: inline;
	list-style: none;
	float: right;
	height: 100%;
	padding: 0 20px;
	line-height: 62px;
/* 	border-left:1px solid #dcdcdc; */
	color: #333;
	text-transform: uppercase;
	font-family: san-serif;
	position: relative;
	overflow: hidden;
}
.nav-li:hover{
	display: inline;
	list-style: none;
	float: right;
	height: 100%;
	padding: 0 20px;
	line-height: 62px;
	color: GhostWhite;
	text-transform: uppercase;
	font-family: san-serif;
	background: linear-gradient(to bottom, #d0edfc 1%, #18A8F1 150%);
}
.nav-li-login{
/* 	background: 	rgba(111, 174, 205, .5); */
	color: rgba(111, 174, 205, 1);
/* 	border-left:1px solid #dcdcdc;  */
}
.nav-li-login:hover{
	background: linear-gradient(to bottom, #d0edfc 1%, #18A8F1 150%);
}
.nav-li:before{
		content: '';
		display: block;
		position:absolute;
		background: rgba(255,255,255,.5);
		width: 60px;
		height: 100%;
		left: 0;
		top: 0;
		opacity: .5s;
		filter: blur(30px);
		transform: translateX(-130px) skewX(-15deg);
	}

.nav-li:after{
		content: '';
		display: block;
		position: absolute;
		background: rgba(255,255,255,.2);
		width: 30px;
		height: 100%;
		left: 30px;
		top: 0;
		opacity: 0;
		filter: blur(30px);
		transform: translate(-100px) scaleX(-15deg);
	}

.nav-li:hover{
		background: linear-gradient(to bottom, white 1%, #b9e4fa 200%);
		cursor: pointer;
		color: rgba(111, 174, 205, 1);
	}

.nav-li:hover:before{
		transform: translateX(300px) skewX(-15deg); 
		opacity: .6;
		transition: .7s;
	}
.nav-li:hover:after{
		transform: translateX(300px) skewX(-15deg);
		opacity: 1;
		transition: .7s;
	}  
.nav-service-div{
	display: inline;
	float: right;
	line-height: 62px;
	height: 62px;
	width: 100px;
	text-align: center;
	cursor:pointer;
	color: #333;
	text-transform: uppercase;
	font-family: san-serif;
/* 	background: background: linear-gradient(to bottom, #20B2AA 0%, #008B8B 150%); */
}
.nav-service-div:hover{
	color: rgba(111, 174, 205, 1);
	background: linear-gradient(to bottom, white 1%, #b9e4fa 200%);
}
.nav-service-div-a{
	z-index:99;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
	color: #333;
	display: block;
	background: white;
	position: relative;
}
.nav-service-div-a:hover{
	color: rgba(111, 174, 205, 1);
	background: linear-gradient(to bottom, white 1%, #b9e4fa 200%);
}


/*********************************************************************************************** end navigation */
.jumbotron{
   text-align: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 230px;
}
.jumbotron>p{
   font-size: 14px;
}
.marginTop50px{
   margin-top:50px;
}
.aNodeco{
   text-decoration: none;
}
.aColor{
   color:#5d5d5d;
}
.main_planner_btn_div{
   background:gold;
   width: 450px;
   margin:0 auto;
}
.main_planner_btn_diy{
   width:198px;
   float: left;
   height: 53px;
   border-radius: 30px;
   border:1px solid tomato;
   margin-right: 50px;
   color: tomato;
   letter-spacing: 1px;
}
.main_planner_btn_request{
   width:198px;
   height: 53px;
   border-radius:30px;
   border:1px solid #6f9c3b;
   float: left;
   color: #6f9c3b;
   letter-spacing: 1px;
}
.tab{
   width:100%;
}
.tab li:first-child{
   width:25%;
   height:50px;
   line-height:50px;
   display: inline-block;
   float: left;
   text-align: center;
   border-top-left-radius: 5px;
}
.tab li{
   width:25%;
   height:50px;
   line-height:50px;
   display: inline-block;
   float: left;
   text-align: center;
   border-bottom: 1px solid #999;
   background:white;
   cursor: pointer;
}
.tab li:hover{
   background:#efefef;
   border-bottom: 1px solid green;
   color:#999;
}
.tab li a{
   text-decoration: none;
   color:#333;
}
.tab li:last-child{
   border-top-right-radius: 5px;
}
.tab_contents{
   width: 100%;
   padding: 20px 10px;
   min-height: 300px;
}
.tab_active{
   font-weight:bold;
   color: green;
}
.section{
   background:white;
   width:100%;
}
table{
   text-align: center;
}
th{
   text-align: center;
}
.float_right{
   float: right;
}

/* board select */
.board_select_row{
   width: 100%;
   padding:0 2%;
   overflow: hidden;
}
.board_select_col{
   display: inline-block;
   width: 24.5%;
   text-align: center;
   margin: 0;
   padding: 0;
}
.board_select_column{
   font-size: 14px;
   font-weight: bold;
   height: 30px;
   line-height: 30px;
}
.board_select_title{
   text-align: center;
   padding: 10px 0;
}
.board_select_border_bottom{
   border-bottom: 1px solid #999;
   padding-bottom: 10px;
}
.board_select_contents{
   padding:15px 0;
   font-size: 16px;
   min-height: 300px;
   margin-top: 10px;
   color: #5d5d5d;
}
/* button btn */
.button{
   background: white;
   padding: 5px 10px;
   border:1px solid #5d5d5d;
   border-radius: 20px;   
   color: #5d5d5d;
}
.button2{
   background: #5d5d5d;
   padding: 5px 10px;
   border:1px solid #5d5d5d;
   border-radius: 20px;
   color:white;
}
.board_list_btn{
   width: 68px;
   height: 36px;
   margin-top: 15px;
   float: right;
}
.board_table{
   width: 100%;
   color:#5d5d5d;
}
.board_table tr:first-child:hover{
   background:white;
   cursor: default;
}
.board_table tr:hover{
   background:#f7f7f7;
   cursor: pointer;
}
.board_table th{
   height: 38px;
   border-top: 2px solid #333;
   border-bottom: 1px solid #cdcdcd;
   line-height: 38px;
   font-weight: normal;
}
.board_table td{
   height: 35px;
   border-bottom: 1px solid #cdcdcd;
   line-height: 35px;
}
.board_no_th{
   width:8%;
}
.board_title_th{
   width:58%;
}
.board_title{
   text-align: left;
}
.board_writer_th{
   width:13%;
}
.board_date_th{
   width: 13%;
}
.board_hit_th{
   width:8%;
}
.board_select_tr{
   cursor: default;
}
.board_table_select{
   width: 100%;
   color:#5d5d5d;
}
.board_table_select th{
   height: 38px;
   border-top: 2px solid #333;
   border-bottom: 1px solid #cdcdcd;
   line-height: 38px;
   font-weight: normal;
}
.board_table_select td{
   height: 35px;
   border-bottom: 1px solid #cdcdcd;
   line-height: 35px;
}
.board_no_th{
   width:8%;
}
.board_title_th{
   width:58%;
}
.board_title{
   text-align: left;
}
.board_writer_th{
   width:13%;
}
.board_date_th{
   width: 13%;
}
.board_hit_th{
   width:8%;
}
.board_select_tr{
   cursor: default;
}
/* nav */
#service{
   position: relative; 
}
.service_dropDown{
   display:none;
   position: absolute;
   right: 580px;
   top:93px;
}
.service_dropDown_ul{
   background: #f5f5f5;
   border:1px solid #c4c4c4;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}
.service_dropDown_li{
   display: block;
   width: 96px;
   height:40px;
   line-height:40px;
   text-align:center;
   border-bottom:1px solid #c4c4c4;
}

.service_dropDown_li>a:hover{
   text-decoration: none;
}
.service_dropDown_li:hover{
   background:#c4c4c4;
}

#filePlus{
   width: 100px;
   height: 40px;
   line-height: 40px;
   border:none;
   border-radius: 5px;
   background: #c4c4c4;
   margin-top: 20px;
}
.inputFile{
   margin:10px 0;
   display: inline;
}
.inputFileDelete{
   font-size: 15px;
   font-weight: bold;
   float: left;
   display: inline;
}
.boardSelectFiles{
   border-top: 1px solid #999;
   padding:5px;
}
.boardSelectFiles_ul{
   width: 100%;
}
.boardSelectFiles_li{
   width:inherit;
   height: 30px;
   line-height:30px;
   list-style:none;
}

.boardSelectFiles_title{
   font-size: 16px;
   letter-spacing: 1px;
   color: #333;
}
/* /* index */ */
/* /* index */ */
/* /* index */ */
.index_buttons{
   margin: 20px 20px;
}
.index_buttons_ul{
   
}
.index_buttons_li{
   float: left;
   display: block;
   padding:7px 14px;
   margin:5px;
   border-radius:20px;
   background:#f5f5f7;
   color: #696969;
}
.index_buttons_li_active{
   background:#696969;
   color:#f5f5f7;
}
.index_samplePlanner{
   clear: both;
   height: 360px;
}
.samplePlannerCard{
   width:24%;
   height: inherit;
   float: left;
   margin:0 0.5%;
}
.samplePlannerCard_map{
   width: 273.6px;
   height:273.6px;
   background: #f4f4f6;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   box-shadow: 2px 2px 1px 1px rgba(190, 190, 190, 0.5);
   
}
.samplePlannerCard_info{
   height:85px;
   border-top:1px solid  rgba(190, 190, 190, 0.5);
   border-bottom-left-radius:10px;
   border-bottom-right-radius:10px;
   box-shadow: 2px 2px 1px 1px rgba(190, 190, 190, 0.5);
   background: #f4f4f6;
}
.indexImgCard{
   width: 20%;
   height: 265px;
   float: left;
   padding:10px 10px;
}
.indexImgCard_img{
   width: 100%;
   height: 100%;
   background: #fea190;
   border-radius: 5px;
   color: white;
}
.indexImgCard_img_title{
   padding:10px 5px;
   font-size: 14px;
   letter-spacing:1px;
   font-family: "san-serif";
}
.indexImgCard_img_text{
   padding:0 5px;
   font-size: 13px;
}
.board-search-wrapper{
   width: 30%;
   height: 28px;
   margin-bottom: 10px;
   display: inline-block;
   float: left;
}
.board-search-inputText{
   width: 85%;
   border: none;
   background: white;
   float: left;
   display: 26px;
   border:1px solid #5d5d5d;
   border-top-left-radius:15px;
   border-bottom-left-radius:15px;
   height: inherit;
   padding: 4px;
}
.board-search-btn{
   width: 15%;
   height: 28px;
   text-align:center;
   line-height:28px;
   background: #5d5d5d;
   border:none;
   float: left;
   color:white;
   display: inline;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}
.comments{
   height: 14px; width: 14px; transform:rotate(180deg);
   margin:0 2.5px;
}
.page_title{
	text-align: center;
	letter-spacing: 0.5px;
	font-family: 'Montserrat', sans-serif;
/* 	border-bottom: 2px solid #cdcdcd; */
/* 	padding-bottom: 3px; */
	color: #656565;
}
.reviewFlexWrapper{
	display: block;
}
.reviewWrapper_leftSide{
	width: 912px;
	float: left;
	padding: 15px 10px;
}
.reviewWrapper_rightSide{
	width: 228px;
	float: left;
	padding: 15px;
}
.reviewWrapper_rightSide_rel{
	border: 1px solid #c9c9c9;
	border-radius: 5px;
	padding: 10px;
	height: 100px;
}
.reviewBox{
	clear:both;
}

.aaaa{
	clear: both;
}
.reviewMemberImg{
	float: left;
}
.reviewMemberImg_img{
	width: 30px;
	height: 30px;
	border-radius: 100px;
	border:2px solid #b4b4b4;
	background:white;
}
.reviewCommentsWrapper{
	background: white;
	float: left;
	margin-left: 20px;
	width: 840px;
	border:1px solid #e0e0e0;
	border-radius:4px;
	padding: 15px;
	margin-bottom: 15px;
	color: #6b6b6b;
}
.reviewComments_header_info{
	margin: 10px;
	font-weight: bold;
	color: #606060;
}
.reviewComments_header_date{
	font-weight: normal;
	margin-left: 10px;
}
.reviewComments_comments{
	margin:10px;
	border: 1px solid #c9c9c9;
	border-radius:1px;
	padding: 6px; 
	color: #333;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #606060;
	width: 774px;
	text-overflow: clip;
	word-break:break-all;	/* div 밖으로 글이 넘칠때 사용 */
}
.x{
	color: #999;
}
.fileLink{
	margin:0 10px;
   text-align: center;
   letter-spacing: 0.5px;
   font-family: 'Montserrat', sans-serif;
/*    border-bottom: 2px solid #cdcdcd; */
/*    padding-bottom: 3px; */
   color: #656565;
   
}

/* ************************************************************media query************************************************************ */
/* ************************************************************media query************************************************************ */
/* ************************************************************media query************************************************************ */

/* 모바일버전 (세로) */
@media (max-width: 575px) {
	body{width:100%;}
	nav{height:50px; width:100%;}
.nav-contain{height: 50px; background: #092834; width: 100%; text-align: center;}
.nav-menuWrapper{
	width: 100%;
	background: #1A3E4C; 
}
.nav-logoWrapper, .nav-logoWrapper-img{display: none;}
.m-title{
	display: block;
	width:20%;
	height:inherit;
	text-align:center;
	/* border:1px solid gold; */
	 transform: translateX(100%);
	color: gold;
	/* margn:0 auto; */
	background:none;
	outline: none;
	border: none;
}
.nav-menu-ul{}
.nav-li-login:hover{
	
	display: inline;
	list-style: none;
	float: right;
	height: 100%;
	padding: 0 20px;
	line-height: 62px;
	border-left:1px solid #dcdcdc;
	color: GhostWhite;
	text-transform: uppercase;
	font-family: san-serif;
	background: linear-gradient(to bottom, #347B98 0%, #1A3E4C 150%);
}
.nav-li{
	color: #E4F1F6;		
	width:100%;
	background: #1A3E4C;
	clear:both;
	display: block;
	text-align: center;
}
.nav-logoWrapper{
	width:200px;
	height: 50px;
	margin:0 auto;
	padding: 0;
}
.nav-logoWrapper>img{
	width: inherit;
	height: inherit;
	text-align: center;
}


 }
 
 
 
 
 
 
 