@charset "UTF-8";
/* 공용 css *********************************************************************/
/* a테그 이벤트 삭제 */
a{
	text-decoration: none;
	color: white;
}
/* 호버 이벤트 삭제 */
a:hover{
	text-decoration: none;
	font-weight: normal;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* 공용 css *********************************************************************/





/* 예시  header , footer  start*********************************************************************/

.header{
height: 136px;
width: 100%;
background-color: #95a5a6;
}

.footer{
height: 260px;
width: 100%;
background-color: #95a5a6;
}

/* 예시  header, footer  end   *********************************************************************/

/* MemberLogin Page Css Start *********************************************************************/
.mainbox{
background-color: white;
height: 600px;


}
.container1{
height: 100px;
}
.loginbox{
width: 553px;
height: 505px;
position:absolute; 
left: 36%;
background-color: white;
}
.Login1{
width: 553px;
height: 47px;
border: 1px solid rgba(0,0,0,.1);
}
.Login2{
width: 553px;
height: 125px;
border-left: 1px solid rgba(0,0,0,.1);
border-right: 1px solid rgba(0,0,0,.1);
border-bottom: 1px solid rgba(0,0,0,.1);
}
.Login3{
width: 553px;
height: 26px;
}
.Login4{
width: 553px;
height: 47px;
border: 1px solid rgba(0,0,0,.1);
}
.Login5{
width: 553px;
height: 215px;
border-left: 1px solid rgba(0,0,0,.1);
border-right:1px solid rgba(0,0,0,.1);
}
.Login6{
width: 553px;
height: 45px;
border: 1px solid rgba(0,0,0,.1);
}
.Login1-1{
width: 493px;
height: 31px;
padding: 8px 30px;
text-align: center;
color: inherit;
display: block;
font-size: 18.5px;
font-weight: 400;
color: gray;
}
.login2img{
margin-left: 150px;
margin-top: 15px;
width: 250px;
height: 100px;
}

.GuestJoin{
position: absolute;	
width: 130px;
height: 30px;
color: gray;
line-height: -30px;	
margin-left: 420px;
margin-top: -65px;
}

.login5-1{
width: 100px;
height: 215px;
float: left;
}
.login5-1-1{
width: 60px;
height: 30px;
font-size: 13px;
padding-top: 32px;
padding-left: 28px;
color: gray;
}
.login5-1-2{
width: 60px;
height: 30px;
padding-top: 32px;
padding-left: 28px;
font-size: 13px;
color: gray;
}
.login5-2{
width: 450px;
height: 215px;
background-color: white;
float: right;
}
.login5-2-1{
height: 25px;
width: 280px;
color: gray;
}
.login5-2-2{
height: 25px;
width: 280px;
}
.lgon5-3{
padding-top: 27px;
padding-left: 100px;
}
.lgon5-4{
padding-top: 27px;
padding-left: 100px;
}
#login5-5{
padding-top: 7px;
padding-left: 100px;
font-size: 12px;
text-decoration: underline;
color: #8f8f8f;
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
text-decoration: none;
color: black;
}
.checkbox{
font: normal 10px FontAwesome;
color: #333;
border-color: #bbb;
border-width: 1px;
width: 100%;
height: 40px;
background: none;
box-shadow: none;
}
.col-8{
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
padding-left: 95px;
padding-top: 20px;
}
.btn1{
position: relative;
background: #18A8F1;
white-space: nowrap;
display: inline-block;
text-decoration: none;
cursor: pointer;
font-weight: 400;
color: #fff;
font-size: 18px;
padding: 11px 25px;
text-align: center;
margin-left: 170px;
}
.btn2{
float: right;
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
text-align: center;
border-radius: 0 !important;
margin: 0;
box-sizing: border-box;
letter-spacing: -1px;
line-height: 1.4;
font-family: 'NanumGothic';
border: 0;
cursor: pointer;
font-weight: 400;
position: relative;
white-space: nowrap;
display: inline-block;
outline: 0 !important;
font-size: 18px;
padding: 10px 25px;
text-decoration: none;
transition: all 0.3s ease-in-out;
color: #fff;
background: #7f8c8d;
margin-right: 162px;
background-color: 95a5a6;
}
.Login7{
margin-left: 22%;
}
/* MemberLogin Page Css End *********************************************************************/
/* MemberJoin Page Css Start ********************************************************************/
.Joinmain{
height: 1030px;
width: 1903px;
background-color: white;
}
.JoinMainPage{
height: 965px;
width: 555px;
background-color: white;
position:absolute; 
left: 34%;
margin-top: 17px;
}
.Join1{
height: 45px;
width: 553px;
background-color: white;
border-top: 1px solid rgba(0,0,0,.1);
border-left: 1px solid rgba(0,0,0,.1);
border-right: 1px solid rgba(0,0,0,.1);
border-bottom: 1px solid rgba(0,0,0,.1);
}
.Join1-1{
text-align: center;
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
font-family: 'NanumGothic';
color: #666;
display: block;
font-size: 20px;
font-weight: 400;
padding-top: 7px;
}
.Join2{
height: 153px;
width: 553px;
background-color: white;
border-left: 1px solid rgba(0,0,0,.1);
border-right: 1px solid rgba(0,0,0,.1);
border-bottom: 1px solid rgba(0,0,0,.1);
}
.Join2img{
padding-left: 120px;
padding-top: 25px;
width: 300px;
height: 100px;
}
.Join3{
height: 78px;
width: 553px;
background-color: white;
border-left: 1px solid rgba(0,0,0,.1);
border-right: 1px solid rgba(0,0,0,.1);
border-bottom: 1px solid rgba(0,0,0,.1);
}
.Join3-1{
text-align: center;
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
font-family: 'NanumGothic';
color: #666;
display: block;
font-size: 20px;
font-weight: 400;
padding-top: 20px;
}
.Join4{
height: 600px;
width: 553px;
padding-top: 20px;
background-color: white;
border-right: 1px solid rgba(0,0,0,.1);
border-left: 1px solid rgba(0,0,0,.1);
}
.Join4-1-a{
height: 50px;
}
.Join4-1-b{
margin-top:5px;
height: 50px;
}
.Join4-1-1{
width: 150px;
font-size: 13px;
color: gray;
padding-left: 30px;
padding-top: 15px;
float: left;
}
.Join4-1-2{
width: 150px;
font-size: 13px;
color: gray;
padding-left: 30px;
padding-top: 5px;
float: left;
}
.Join-text{
float: left;
margin-top: 10px;
margin-left: 30px;
}
.Join4-2{
width: 273px;
height: 27px;
}
.Join4-3{
width: 192px;
height: 27px;
}
.Join4-4{
width: 192px;
height: 27px;
}
/* 중복확인  버튼 css */
.input-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
width: 1%;
white-space: nowrap;
vertical-align: middle;
display: table-cell;
}
.btn-u{
background: #e74c3c;
border: 0;
color: #fff;
font-size: 14px;
cursor: pointer;
font-weight: 400;
padding: 6px 13px;
position: relative;
background: #e74c3c;
white-space: nowrap;
display: inline-block;
text-decoration: none;
margin-top: 10px;
width: 80px;
}
button{
outline: 0 !important;
line-height: inherit;
-webkit-appearance: button;
text-transform: none;
overflow: visible;
margin: 0;
font: inherit;
}
/* 중복확인  버튼 css */
.Join4-select{
width: 120px;
height: 30px;
}
.Join4-birth1{
width: 120px;
height: 30px;
}
.Join4-birth2{
width: 120px;
height: 30px;
}
.Join4-check{
padding-top: 15px;
padding-left: 25px;
}
.Join4or5-1{
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
position: relative;
text-align: center;
background: #555;
color: #fff;
display: inline-block;
font-weight: 400;
font-size: 14px;
cursor: pointer;
border: 0;
font-family: 'Noto Sans', sans-serif;
width: 460px;
height: 40px;
margin-top: 25px;
margin-left: 30px;
line-height: 35px;
}
.Join4or5-2{
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
position: relative;
text-align: center;
background: #555;
color: #fff;
display: inline-block;
font-weight: 400;
font-size: 14px;
cursor: pointer;
border: 0;
font-family: 'Noto Sans', sans-serif;
width: 460px;
height: 40px;
margin-top: 10px;
margin-left: 30px;
line-height: 35px;
}
.Join4-check2{
padding-top: 15px;
padding-left: 25px;
}
.Join5{
height: 83px;
width: 553px;
background-color: white;
border: 1px solid rgba(0,0,0,.1);
}
.Join5-btn1{
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
text-align: center;
box-sizing: border-box;
border-radius: 0 !important;
font-family: 'Noto Sans', sans-serif;
border: 0;
cursor: pointer;
font-weight: 400;
position: relative;
white-space: nowrap;
display: inline-block;
outline: 0 !important;
font-size: 18px;
padding: 10px 25px;
text-decoration: none;
transition: all 0.3s ease-in-out;
background: #5fb611;
color: #fff;
margin-left: 171px;
margin-top: 17px;
}
.Join5-btn2{
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
text-align: center;
box-sizing: border-box;
border-radius: 0 !important;
outline: 0 !important;
font-family: 'Noto Sans', sans-serif;
border: 0;
cursor: pointer;
font-weight: 400;
position: relative;
white-space: nowrap;
display: inline-block;
text-decoration: none;
font-size: 18px;
padding: 10px 25px;
background: #95a5a6;
color: #fff;
margin-right: 5px;
}
/* MemberJoin Page Css End *********************************************************************/
/* MemberFacebookLogin Page Css Start *********************************************************************/
.FJoinmain{
height: 850px;
width: 1903px;
background-color: white;
}
.FJoinMainPage{
height: 600px;
width: 555px;
background-color: white;
position:absolute; 
left: 675px;
margin-top: 17px;
}
.FJoin1{
height: 45px;
width: 553px;
background-color: white;
border-top: 1px solid rgba(0,0,0,.1);
border-left: 1px solid rgba(0,0,0,.1);
border-right: 1px solid rgba(0,0,0,.1);
border-bottom: 1px solid rgba(0,0,0,.1);
}
.FJoin1-1{
text-align: center;
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
font-family: 'NanumGothic';
color: #666;
font-size: 20px;
font-weight: 400;
display: block;
padding-top: 7px;
}
.FJoin2{
height: 100px;
width: 553px;
background-color: white;
border-left: 1px solid rgba(0,0,0,.1);
border-right: 1px solid rgba(0,0,0,.1);
}
.FJoin2-1{
width: 150px;
font-size: 13px;
color: gray;
padding-left: 30px;
padding-top: 40px;
float: left;
}
.FJoin2-2{
float: left;
margin-top: 25px;
margin-left: 35px;
background-color: red;
height: 60px;
width: 60px;
}
.FJoin2-2-img{
height: 60px;
width: 60px;
}
.FJoin2-3{
float: left;
margin-top: 40px;
margin-left: 30px;
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
box-sizing: border-box;
border-radius: 0 !important;
margin-bottom: 10px;
font-size: 12px;
font-weight: normal;
color: #687074;
}
.FJoin3{
height: 78px;
width: 553px;
background-color: white;
border-left: 1px solid rgba(0,0,0,.1);
border-right: 1px solid rgba(0,0,0,.1);
border-bottom: 1px solid rgba(0,0,0,.1);
}
.FJoin3-1{
text-align: center;
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
font-family: 'NanumGothic';
color: #666;
display: block;
font-size: 20px;
font-weight: 400;
padding-top: 20px;
}
.FJoin4{
height: 430px;
width: 553px;
padding-top: 20px;
background-color: white;
border-right: 1px solid rgba(0,0,0,.1);
border-left: 1px solid rgba(0,0,0,.1);
}
.FJoin4-1-a{
height: 50px;
}
.FJoin4-1-b{
margin-top:5px;
height: 50px;
}
.FJoin4-1-1{
width: 150px;
font-size: 13px;
color: gray;
padding-left: 30px;
padding-top: 15px;
float: left;
}
.FJoin-text{
float: left;
margin-top: 10px;
margin-left: 30px;
}
.FJoin-text2{
float: left;
margin-top: 5px;
margin-left: 30px;
}
.FJoin4-2{
width: 273px;
height: 27px;
}
/* .FJoin4-2-j{ */
/* width: 273px; */
/* height: 27px; */
/* margin-left: 30px; */
/* } */
.FJoin4-3{
width: 192px;
height: 27px;
}
.FJoin4-4{
width: 192px;
height: 27px;
}
/* 중복확인  버튼 css */
.Finput-group-btn {
position: relative;
font-size: 0;
white-space: nowrap;
width: 1%;
white-space: nowrap;
vertical-align: middle;
display: table-cell;
}
.Fbtn-u{
background: #e74c3c;
border: 0;
color: #fff;
font-size: 14px;
cursor: pointer;
font-weight: 400;
padding: 6px 13px;
position: relative;
background: #e74c3c;
white-space: nowrap;
display: inline-block;
text-decoration: none;
margin-top: 10px;
width: 80px;
}
button{
outline: 0 !important;
line-height: inherit;
-webkit-appearance: button;
text-transform: none;
overflow: visible;
margin: 0;
font: inherit;
}
/* 중복확인  버튼 css */
.FJoin4-select{
width: 120px;
height: 30px;
}
.FJoin4-birth1{
width: 120px;
height: 30px;
}
.FJoin4-birth2{
width: 120px;
height: 30px;
}
.FJoin4-check{
padding-top: 15px;
padding-left: 25px;
}
.FJoin4or5-1{
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
position: relative;
text-align: center;
background: #555;
color: #fff;
display: inline-block;
font-weight: 400;
font-size: 14px;
cursor: pointer;
border: 0;
font-family: 'Noto Sans', sans-serif;
width: 460px;
height: 40px;
margin-top: 25px;
margin-left: 30px;
line-height: 35px;
}
.FJoin4or5-2{
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
position: relative;
text-align: center;
background: #555;
color: #fff;
display: inline-block;
font-weight: 400;
font-size: 14px;
cursor: pointer;
border: 0;
font-family: 'Noto Sans', sans-serif;
width: 460px;
height: 40px;
margin-top: 10px;
margin-left: 30px;
line-height: 35px;
}
.FJoin4-check2{
padding-top: 15px;
padding-left: 25px;
}
.FJoin5{
height: 83px;
width: 553px;
background-color: white;
border: 1px solid rgba(0,0,0,.1);
}
.FJoin5-btn1{
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
text-align: center;
box-sizing: border-box;
border-radius: 0 !important;
font-family: 'Noto Sans', sans-serif;
border: 0;
cursor: pointer;
font-weight: 400;
position: relative;
white-space: nowrap;
display: inline-block;
outline: 0 !important;
font-size: 18px;
padding: 10px 25px;
text-decoration: none;
transition: all 0.3s ease-in-out;
background: #5fb611;
color: #fff;
margin-left: 171px;
margin-top: 17px;
}
.FJoin5-btn2{
-webkit-tap-highlight-color: rgba(0,0,0,0);
font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
text-align: center;
box-sizing: border-box;
border-radius: 0 !important;
outline: 0 !important;
font-family: 'Noto Sans', sans-serif;
border: 0;
cursor: pointer;
font-weight: 400;
position: relative;
white-space: nowrap;
display: inline-block;
text-decoration: none;
font-size: 18px;
padding: 10px 25px;
background: #95a5a6;
color: #fff;
margin-right: 5px;
}
/* MemberFacebookLogin Page Css End *********************************************************************/
/* memberMypage css  Start **********************************************************************/

.mypagemain{
background-color: white;
height: 880px;
width: 1165px;
margin-left: 370px;
padding-top: 90px;
border-bottom: 1px solid #e8e8e8;
}

.mypagemain2{
background-color: white;
height: 880px;
width: 265px;
}

.mypage1{ 
background-color: #f5f5f5;
height: 360px;
width: 263px;
border: 1px solid #e8e8e8;
border-radius: 5px;
}

.mypage1-1{
height: 250px; 
width: 250px; 
margin-left: 7px; 
margin-top: 10px;
}

.mypage1-1-1{
height: 250px; 
width: 250px;
border-radius: 50%;
cursor: pointer;
}

.mypage1-1-1-1{
border-radius: 50%;
cursor: pointer;	
width: 498px; 
height: 568px;	
}

.mypage1-2{
width: 220px;
height: 50px;
margin-left: 20px;
margin-top: 20px;
background-color: #f5f5f5;
}

.mypage1-2-1{
width: 140px;
height: 50px;
background-color: #f5f5f5;
float: left;
font-size: 10px;
}

.mypage1-2-2{
margin-top: 10px;
width: 80px;
height: 30px;
background-color: rgb(153, 153, 153);
float: right;
border-radius: .25em;
}

.mypage1-2-2-1{
color: white;
font-weight: 700;
text-align: center;
margin-top: 2px;
}

.mypage2{
background-color: white;
height: 200px;
width: 260px;
border: 1px solid #e8e8e8;
border-radius: 5px;
}

.mypage2-1{
background-color: white;
height: 40px;
width: 263px;
border-right: 1px solid #e8e8e8;
}

.mypage2-1-1{
height: 25px;
width: 240px;
margin-left: 15px;
background-color: white;
padding-top: 8px;
color: #807e7e;
}

.mypage2-1-1-1{
font-size: 15px;
width: 110px;
float: left;
height: 25px;
text-align: center;
border-right: 1px solid #e8e8e8;
}

.mypage2-1-1-3{
font-size: 15px;
width: 110px;
float: left;
height: 25px;
text-align: center;
}

.mypage2-2{
background-color: white;
height: 80px;
width: 263px;
border-bottom: 1px solid #e8e8e8;
border-right: 1px solid #e8e8e8;
}

.mypage2-2-1{
background-color: #f2eeee;
height: 50px;
width: 100px;
border-radius: 10px;
margin-top: 0px;
margin-left: 20px;
color: #807e7e;
background-image: linear-gradient(to bottom,#f2eeee 0,#c5c5c5 100%);
font-size: 13px;
}

.mypage2-2-2{
background-color: #f2eeee;
height: 50px;
width: 100px;
border-radius: 10px;
margin-top: 10px;
margin-left: 10px;
color: #807e7e;
font-size: 13px;
background-image: linear-gradient(to bottom,#f2eeee 0,#c5c5c5 100%);
}

.mypage2-3{
background-color: white;
height: 80px;
width: 263px;
border-bottom: 1px solid #e8e8e8;
border-right: 1px solid #e8e8e8;
}

.mypage3{
background-color: white;
height: 250px;
width: 233px;
border: 1px solid #e8e8e8;
border-radius: 5px;
margin-top: 25px;
margin-left: 15px;
}

.mypage3-1{
background-color: white;
height: 49px;
width: 233px;
border-bottom:1px solid #e8e8e8;
border-right:1px solid #e8e8e8;
background-image: linear-gradient(to bottom,#428bca 0,#3278b3 100%);
color: #fff;
background-color: #428bca;
border-color: #428bca;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
cursor: pointer;
}

.mypage3-1-1{
margin-left: 30px;
padding-top : 13px;
color: white;
}

/* 여행 옆 등록게시물 갯수  */
.mypage3-1-2{
color: #428bca;
background-color: #fff;
float: right;
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 14px;
font-weight: 700;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
border-radius: 10px;
margin-top: 2px;
margin-right: 20px;
}

.mypage3-2{
cursor: pointer;
background-color: white;
height: 49px;
width: 233px;
border-bottom:1px solid #e8e8e8;
border-right:1px solid #e8e8e8;
}

.mypage3-2:hover {
background: #ececec;
}

.mypage3-2-1{
color: #716e6e;
float: right;
margin-right: 130px;
margin-top: 12px;
}

.mypage3-3{
cursor: pointer;
background-color: white;
height: 49px;
width: 233px;
border-bottom:1px solid #e8e8e8;
border-right:1px solid #e8e8e8;
}

.mypage3-3:hover {
background: #ececec;
}

.mypage3-3-1{
color: #716e6e;
float: right;
margin-right: 145px;
margin-top: 12px;
}

.mypage3-4{
cursor: pointer;
background-color: white;
height: 49px;
width: 233px;
border-bottom:1px solid #e8e8e8;
border-right:1px solid #e8e8e8;
}

.mypage3-4:hover {
background: #ececec;
}

.mypage3-4-1{
color: #716e6e;
float: right;
margin-right: 130px;
margin-top: 12px;
}

.mypage3-5{
cursor: pointer;
background-color: white;
height: 50px;
width: 233px;
border-right:1px solid #e8e8e8;
}

.mypage3-5:hover {
background: #ececec;
}

.mypage3-5-1{
color: #716e6e;
float: right;
margin-right: 145px;
margin-top: 12px;
}

.mypagemain3{
background-color: white;
width:870px;
height: 850px;
float: right;
}


.my1{
width:870px;
height: 850px;
background-color: white;
float: right;
}

.my1-1{
width:870px;
height: 500px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
}

.my1-1-1{
width: 250px;
height: 400px;
background-color: #f5f5f5;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
margin-top: 20px;
margin-left: 20px;
}

.my2{ 
width:870px;
height: 850px;
background-color: white; 
float: right;
} 

.my2-1{
width:870px;
height: 500px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
}


.my3{ 
width:870px;
height: 850px;
background-color: white; 
float: right;
} 

.my3-1{
width:870px;
height: 300px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;	
}

.my3-1-1{
width: 820px;
height: 120px;
background-color: white;
margin-left: 20px;
margin-top: 30px;
border-bottom:1px solid #e8e8e8;
text-align: center;
font-size: 14px;
font-family: 'NanumGothic';
}

.my3-1-2{
width: 820px;
height: 60px;
background-color: white;
margin-left: 30px;
margin-top : 20px;
text-align: center;
font-size: 14px;
}

.my3-1-3{
background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
background-repeat: repeat-x;
border-color: #3e8f3e;
box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);   
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
display: inline-block;
font-weight: 400;
vertical-align: middle;
cursor: pointer;
user-select: none;  
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
border-radius: 4px; 
margin-top: 20px;
margin-left: 350px; 
width: 170px;
height: 35px;	
}

.my3-1-4{
width: 60px;
height: 25px;
background-color: rgb(153, 153, 153);
color: #fff;
text-align: center;
font-size: 13px;
border-radius: 3px;
line-height: 1.7;
float: left;
margin-left: 10px;
margin-top: -2px;
}

.my3-1-5{
float: left;	
margin-left: 10px;
}

.my4{ 
width:870px;
height: 850px;
background-color: white; 
float: right;
} 
.my4-1{
width:870px;
height: 800px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
}
.my4-1-1{
width:700px;
height: 130px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
margin-top: 50px;
margin-left: 80px;
}
.my4-1-1-1{
width:700px;
height: 50px;
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
color: #333;
background-color: #f5f5f5; 
border-color: #ddd;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
border-bottom: 1px solid transparent;
}
.my4-1-1-2{
width:700px;
height: 80px;
}
.my4-1-1-1-1{
width:100px;
height: 50px;
margin-left: 30px;
color: #333;
font-weight: 700;
font-family: 'NanumGothic';
font-size: 15px;
line-height: 3;
}
.my4-1-1-1-2{
width:680px;
height: 80px;
margin-left: 10px;
}
.my4-1-2{
width:700px;
height: 80px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
margin-top: 30px;
margin-left: 80px;
}
.my4-1-2-1{
width:700px;
height: 35px;
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
color: #333;
background-color: #f5f5f5; 
border-color: #ddd;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
border-bottom: 1px solid transparent;
}
.my4-1-2-2{
width:700px;
height: 45px;
}
.my4-1-2-1-1{
width:100px;
height: 35px;
margin-left: 30px;
color: #333;
font-weight: 700;
font-family: 'NanumGothic';
font-size: 15px;
line-height: 2.2;
}
.my4-1-2-1-2{
width:680px;
height: 45px;
margin-left: 10px;
}
.my4-1-3{
width:700px;
height: 80px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
margin-top: 30px;
margin-left: 80px;
}
.my4-1-3-1{
width:700px;
height: 35px;
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
color: #333;
background-color: #f5f5f5; 
border-color: #ddd;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
border-bottom: 1px solid transparent;
}
.my4-1-3-2{
width:700px;
height: 45px;
}
.my4-1-3-1-1{
width:100px;
height: 35px;
margin-left: 30px;
color: #333;
font-weight: 700;
font-family: 'NanumGothic';
font-size: 15px;
line-height: 2.2;
}
.my4-1-3-1-2{
width:680px;
height: 45px;
margin-left: 10px;
}
.my4-1-4{
width:700px;
height: 80px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
margin-top: 30px;
margin-left: 80px;
}
.my4-1-4-1{
width:700px;
height: 35px;
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
color: #333;
background-color: #f5f5f5; 
border-color: #ddd;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
border-bottom: 1px solid transparent;
}
.my4-1-4-2{
width:700px;
height: 45px;
}
.my4-1-4-1-1{
width:300px;
height: 35px;
margin-left: 30px;
color: #333;
font-weight: 700;
font-family: 'NanumGothic';
font-size: 15px;
line-height: 2.2;
}
.my4-1-4-1-2{
width:680px;
height: 45px;
margin-left: 10px;
}
.my4-1-5{
width:700px;
height: 80px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
margin-top: 30px;
margin-left: 80px;
}
.my4-1-5-1{
width:700px;
height: 35px;
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
color: #333;
background-color: #f5f5f5; 
border-color: #ddd;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
border-bottom: 1px solid transparent;
}
.my4-1-5-2{
width:700px;
height: 45px;
}
.my4-1-5-1-1{
width:300px;
height: 35px;
margin-left: 30px;
color: #333;
font-weight: 700;
font-family: 'NanumGothic';
font-size: 15px;
line-height: 2.2;
}
.my4-1-5-1-2{
width:680px;
height: 45px;
margin-left: 10px;
}
.my4-1-6{
width:700px;
height: 80px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;
margin-top: 30px;
margin-left: 80px;
}
.my4-1-6-1{
width:700px;
height: 35px;
background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
color: #333;
background-color: #f5f5f5; 
border-color: #ddd;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
border-bottom: 1px solid transparent;
}
.my4-1-6-2{
width:700px;
height: 45px;
}
.my4-1-6-1-1{
width:300px;
height: 35px;
margin-left: 30px;
color: #333;
font-weight: 700;
font-family: 'NanumGothic';
font-size: 15px;
line-height: 2.2;
}
.my4-1-6-1-2{
width:680px;
height: 45px;
margin-left: 10px;
}
 
.my5{ 
width:870px;
height: 850px;
background-color: white; 
float: right;
} 

.my5-1{
width:870px;
height: 300px;
background-color: white;
border: 1.2px solid rgba(0,0,0,.1);
border-radius: 5px;		
}

.my5-1-1{
width: 810px;
height: 240px;
background-color: white;
margin-left: 30px;
margin-top: 30px;
}

.my5-1-2{
width: 810px;
height: 120px;
background-color: white;
border-bottom:1px solid #e8e8e8;
}

.my5-1-3{
width: 810px;
height: 120px;
background-color: white;	
}

.my5-1-2-1{
background-color: white;
width: 810px;
height: 40px;	
margin-top: 20px;
font-family: 'NanumGothic';
font-size: 18px;
}

.my5-1-2-2{
background-color: white;	
width: 810px;
height: 30px;	
font-size: 14px;
}

.my5-1-3-1{
background-color: white;
width: 810px;
height: 40px;	
margin-top: 20px;
font-family: 'NanumGothic';
font-size: 18px;	
}

.my5-1-3-2{
background-color: white;	
width: 810px;
height: 70px;	
font-size: 14px;
}	

/* 프로필 사진 변경 화면창 */
.changeimg{
width:100%;
height: 1270px;
background-color:rgba(0,0,0,0.85);
position: absolute;
top:0px;
}

.changeimg2{
width:598px;
height: 800px;
background-color: white;
margin-left : 700px;
border-radius: 10px;
top: 100px;
position: relative;
opacity: 1;
}

.changeimg2-1{
width: 598px;
height: 100px;
background-color: white;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom: 1.2px solid rgba(0,0,0,.1);
}

.changeimg2-1{
margin-top: 5px;
width: 30px;
height: 30px;
color: #716e6e;	
background-color: white;
float: right;
border: initial;
cursor: pointer;
font-size: 20px;
font-weight: 300;
line-height: 1.5;
text-align: center;
margin-right: 5px;
}

.changeimgtext{
padding-top:30px;
margin-left: 20px;
width: 100px;
}

.changeimg2-2{
background-color: #f2eeee;
height: 30px;
width: 80px;
border-radius: 5px;
color: #807e7e;
background-image: linear-gradient(to bottom,#f2eeee 0,#c5c5c5 100%);
float: left;
margin-left: 110px;
margin-top: -36px;
}

.changeimg2-3{
width: 598px;
height: 600px;
background-color: white;	
border-top: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
float: left;
margin-top: 20px;
}

.changeimg2-3-1{
margin-left: 50px;
margin-top: 14px;
width: 500px;
height: 570px;
background-color: white;
border: 1px solid #e8e8e8;
}

.changeimg2-4{
background-color: #f2eeee;
height: 35px;
width: 80px;
border-radius: 5px;
color: #807e7e;
background-image: linear-gradient(to bottom,#f2eeee 0,#c5c5c5 100%);
cursor: pointer;
text-align: center;
line-height: 2;
border: 1px solid #919090;
float: left;
margin-left: 35px;
}

.changeimg2-5{
background-color: #f2eeee;
height: 35px;
width: 80px;
border-radius: 5px;
color: #807e7e;
background-image: linear-gradient(to bottom,#f2eeee 0,#c5c5c5 100%);
cursor: pointer;
text-align: center;
line-height: 2;
border: 1px solid #919090;	
float: left;
}

.introducebox{
width: 200px;	
height: 50px;
background-color: white;
margin-top: 650px;
margin-left: 200px;
}





/* 프로필 변경 화면창 */
.asdzxc{
width:100%;
height: 1250px;
background-color:rgba(0,0,0,0.85);
position: absolute;
top:0px;
}
.asdzxc2{
width:598px;
height: 616px;
background-color: white;
margin-left : 700px;
border-radius: 10px;
top: 100px;
position: relative;
opacity: 1;
}
/* 프로필 변경 css */
.changeprofile{
width: 100%;
height: 80px;
background-color: white;
border-bottom: 1px solid rgba(0,0,0,.1);
border-radius: 10px;
}
.changeprofile2{
width: 100%;
height: 70px;
background-color: white;
border-radius: 10px;
}
.changeprofile3{
height:70px;
width: 200px;
background-color: white;
font-size: 25px;
font-weight: 500;
font-family: 'NanumGothic';
color: black;
font-weight: bold;
line-height: 3.2;
margin-left: 30px;
}
.myintroduce-0{
width : 560px;
height : 150px;
border-bottom: 1px solid rgba(0,0,0,.1);
margin-left: 15px;
}
/* 입력 text글 css */
.myself{
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;    
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
-webkit-rtl-ordering: logical;
cursor: text;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.myintroduce-1{
background-color: #fff;
width: 100%;
height: 74px;
font-weight: bold;
font-size: 15px;
}
.myintroduce1-1{
padding-top: 5px;
}
.myintroduce1-1-1{
width: 474px;
height: 32.5px;
}
.myintroduce-2{
background-color: #fff;
width: 100%;
height: 74px;
font-weight: bold;
font-size: 15px;
}
.myintroduce2-1{
padding-top: 5px;
}
.myintroduce2-1-1{
width: 474px;
height: 32.5px;
}
.myintroduce-0-0{
width : 560px;
height : 300px;
margin-left: 15px;
background-color: #fff;
}
.myintroduce-3{
background-color: #fff;
width: 100%;
height: 74px;
font-weight: bold;
font-size: 15px;
padding-top: 5px;
}
.myintroduce3-1{
padding-top: 5px;
}
.myintroduce3-1-1{
width: 474px;
height: 32.5px;
}
.myintroduce-4{
background-color: #fff;
width: 100%;
height: 74px;
font-weight: bold;
font-size: 15px;
}
.myintroduce4-1{
padding-top: 5px;
}
.myintroduce4-1-1{
width: 474px;
height: 32.5px;
}
.myintroduce-5{
background-color: #fff;
width: 100%;
height: 74px;
font-weight: bold;
font-size: 15px;
}
.myintroduce5-1{
padding-top: 5px;
}
.myintroduce5-1-1{
width: 474px;
height: 32.5px;
}
.myintroduce-6{
background-color: #fff;
width: 100%;
height: 74px;
font-weight: bold;
font-size: 15px;
}
.myintroduce6-1{
padding-top: 5px;
}
.myintroduce6-1-1{
width: 474px;
height: 32.5px;
}
.myintroduce-7-1{
background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
background-repeat: repeat-x;
border-color: #2b669a;
box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
color: #fff;
background-color: #428bca;
cursor: pointer;
text-align: center;
white-space: nowrap;
border: 1px solid transparent;
width: 80px;
height: 35px;
float: left;
margin-left: 200px;
border-radius: 4px;
font-size: 15px;
color: #fff;
font-size: 18px;
line-height: 1.9;
margin-top: 20px;
}
.myintroduce-7-2{
background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
background-repeat: repeat-x;
border-color: #2b669a;
box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
text-shadow: 0 -1px 0 rgba(0,0,0,.2);
color: #fff;
background-color: #428bca;
cursor: pointer;
text-align: center;
white-space: nowrap;
border: 1px solid transparent;
width: 80px;
height: 35px;
float: left;
margin-left: 20px;
border-radius: 4px;
font-size: 15px;
color: #fff;
font-size: 18px;
line-height: 1.9;
margin-top: 20px;
}
/* memberMypage css  End **********************************************************************/

/* memberUpdate css  Start **********************************************************************/

.updatemain{
width: 1903px;
height: 1100px;
background-color: #ececec;
border: 1px solid transparent;
}

.updatemain2{
width: 920px;
height: 900px;
background-color: white;	
margin-left: 491px;
border: 1px solid transparent;
}

.updatemain2-1{
width: 918px;
height: 80px;
background-color: #f5f5f5;
border-bottom: 1px solid #ddd;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.updatemain2-1-1{
font-weight: 700;
letter-spacing: 0;
font-size: 32px;
line-height: 36px;
color: #404040;
float: left;
margin-top: 15px;
margin-left: 100px;
text-align: center;
}

.updatemain2-1-2{
vertical-align: middle;
font-family: 'Noto Sans KR', 'dotum', '돋움', 'verdana', 'sans-serif';
background: none;
box-sizing: border-box;
display: inline-block;
background-color: #e6e6e6;
background-repeat: no-repeat;
background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
line-height: normal;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
cursor: pointer;
height: auto;
width: 90px;
border: 1px solid #bbbbbb;
color: #333;
font-size: 11pt;
padding: 10px;
border-radius: 4px;
margin-left: 280px;
margin-top: 15px;
font-family: 'Noto Sans KR', 'dotum', '돋움', 'verdana', 'sans-serif';
font-weight: 400;
}

.updatemain3-1{
width: 920px;
height: 100px;
background-color: white;
margin-top: 50px;	
}

.updatemain3-1-img{
margin-left: 200px;
padding-top: 10px;
width: 110px;
height: 100px;
}

.updatemain3-2-img{
background-color: #e6e6e6;
width: 220px;
height: 30px;
float: left;
margin-left: 350px;
margin-top: -65px;
border-radius: 4px;
}

.update1{
width: 920px;
height: 70px;
background-color: white;
}

.update2{
width: 920px;
height: 70px;
background-color: white;
}

.update3{
width: 920px;
height: 70px;
background-color: white;
}

.update4{
width: 920px;
height: 70px;
background-color: white;
}

.update5{
width: 920px;
height: 70px;
background-color: white;
}

.update6{
width: 920px;
height: 70px;
background-color: white;
}

.imgst{
width: 1100px;
height: 130px;	
cursor: pointer;
margin-left: 400px;
margin-top: 50px;
}

.update1-1{
float: left;
width: 100px;
height: 70px;
background-color: white;	
margin-left: 200px;
text-align: center;
line-height: 5;
font-size: 14px;
}

.update1-2{
float: left;
width: 300px;
height: 70px;
background-color: white;
margin-left: 50px;	
}

.nameup{
margin-top: 20px;
margin-left: 0px;	
width: 220px;
height: 35px;
background-color: white;
line-height: 2;
border: 1px solid #bbbbbb;
font-size: 13px;
background-color: #e5e5e5;
}

.update2-1{
float: left;
width: 100px;
height: 70px;
background-color: white;	
margin-left: 200px;
text-align: center;
line-height: 5;
font-size: 14px;
}

.update2-2{
float: left;
width: 300px;
height: 70px;
background-color: white;
margin-left: 50px;		
}

.idup{
margin-top: 20px;
margin-left: 0px;	
width: 220px;
height: 35px;
background-color: white;
line-height: 2;
border: 1px solid #bbbbbb;	
font-size: 13px;
background-color: #e5e5e5;
}

.update3-1{
float: left;
width: 120px;
height: 70px;
background-color: white;	
margin-left: 160px;
text-align: center;
line-height: 5;
font-size: 14px;	
}

.update3-2{
width: 200px;
height: 70px;
background-color: white;
float: left;	
margin-left: 70px;
}

.pwup{
margin-top: -10px;
margin-left: 0px;	
width: 220px;
height: 35px;
background-color: white;
line-height: 2;
border: 1px solid #bbbbbb;	
font-size: 13px;
}

.update3-3{
float: left;
width: 140px;
height: 70px;
background-color: white;	
margin-left: 137px;
text-align: center;
line-height: 5;
font-size: 14px;	
}

.update3-4{
width: 200px;
height: 70px;
background-color: white;
float: left;
margin-left: 70px;		
}

#pw11{
width: 224px;
height: 35px;	
font-size: 13px;
float: left;
margin-top: -5px;
}

.update5-1{
float: left;
width: 70px;
height: 70px;
background-color: white;	
margin-left: 215px;
text-align: center;
line-height: 5;
font-size: 14px;	
}

.emailup{
width: 224px;
height: 35px;	
font-size: 13px;
float: left;
margin-top: 15px;
margin-left: 62px;	
}

.update6-1{
float: left;
width: 70px;
height: 70px;
background-color: white;	
margin-left: 218px;
text-align: center;
line-height: 5;
font-size: 14px;			
}

.update6-2{
width: 224px;
height: 35px;	
font-size: 13px;
float: left;
margin-top: 15px;
margin-left: 60px;	
background-color: white;	
}

.update6-3{
width: 224px;
height: 35px;	
border: 1px solid #bbbbbb;	
line-height: 2;	
background-color: #e5e5e5;
}

.update7-1{
float: left;
width: 70px;
height: 70px;
background-color: white;	
margin-left: 208px;
text-align: center;
line-height: 5;
font-size: 14px;			
}

.update7-2{
width: 224px;
height: 35px;	
font-size: 13px;
float: left;
margin-top: 15px;
margin-left: 69px;	
background-color: white;	
}

.update7-3{
width: 224px;
height: 35px;	
border: 1px solid #bbbbbb;	
line-height: 2;	
background-color: #e5e5e5;
}

.update8-1{
width: 550px;
height: 25px;
background-color: white;
margin-top: 90px;
margin-left: 160px;
}

.updatelast{
width: 500px;
height: 70px;
background-color: white;	
margin-left: 170px;
margin-top: 30px;
}

.updatelast1{
width: 150px;
height: 45px;	
margin-left: 100px;
color: #ffffff;
background-color: #0064cd;
background-repeat: repeat-x;
border-radius: 6px;  
font-size: 15px;
line-height: normal;  
background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  
float: left; 
text-align: center;
margin-top: 15px;
line-height: 3;
font-size: 15px;
border: 1px solid #e6e6e6;
cursor: pointer;
}

.updatelast2{
width: 150px;
height: 45px;	
color: #ffffff;
background-color: #0064cd;
background-repeat: repeat-x;	
border-radius: 6px;
font-size: 15px;
line-height: normal;
background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);	
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
float: left;
text-align: center;
margin-top: 15px;
margin-left: 85px;
line-height: 3;
font-size: 15px;
border: 1px solid #e6e6e6;
cursor: pointer;
}

/* memberUpdate css  End **********************************************************************/

/* memberGetout css  Start **********************************************************************/
/* a tag 문제로 memberGetout.jsp에 직접 입력 */
/* memberGetout css  End **********************************************************************/

/* footer css  Start **********************************************************************/

footer{
width: 100%;
height: 260px;	
}

.footermain1{
background-color: #373741;
width: 100%;
height: 50px;
}

.footermain1-1{
background-color: #373741;	
height: 50px;
width: 1100px;
margin-left: 400px;
color: #86868c;
font-size: 13.5px;
display: block;
text-decoration: none;
}

.footermain2{
width: 100%;
height: 200px;	
background-color: #45454f;
}

.footermain2-1{
background-color: #45454f;	
height: 200px;
width: 1080px;
margin-left: 415px;	  
}

.footermain2-1-1{
height: 200px;	
width: 170px;
}

.foot1{
height: 50px;
width: 110px;	
background-color: #373741;
float: left;
}

.foot2{
height: 50px;
width: 100px;	
background-color: #373741;
float: left;
}

.foot3{
height: 50px;
width: 140px;	
background-color: #373741;
float: left;
}

.foot4{
height: 50px;
width: 90px;	
background-color: #373741;
float: left;
}

.foot5{
height: 50px;
width: 100px;	
background-color: #373741;
float: left;
}

.foot6{
height: 50px;
width: 100px;	
background-color: #373741;
float: left;
}

.textline{
height: 20px;
margin-top: 15px;
position: relative;
width: 100%;
text-align: center;
border-right: 1px solid #86868c;
cursor: pointer;
}

.textline2{
height: 30px;
margin-top: 15px;
position: relative;
width: 100%;
text-align: center;
cursor: pointer;
}

.foot7{
height: 50px;
width: 200px;
background-color: #373741;
float: right;
}

.plannerimg{
margin-top: 30px;
z-index: 999;	
width: 160px;
height: 70px;
cursor: pointer;
}

.footermain2-1-2{
width: 800px;
height: 90px;
background-color: #45454f;
float: left;
margin-top : -185px;
margin-left: 180px;
}

.footermain2-1-3{
width: 900px;
height: 55px;	
background-color: #45454f;	
float: left;	
margin-top : -80px;
margin-left: 190px;	
font-size: 13.5px;
color: #86868c;		
}

.text1{
height: 30px;
width: 800px;	
font-size: 13.5px;
color: #86868c;
float: left;
margin-left: 3px;
}

.text1-1{
background-color: #45454f;
width: 150px;	
height: 20px;	
float: left;	
font-size: 13px;	
color: #86868c;		
margin-top: 5px;	
text-align: center;
border-right: 1px solid #86868c;
}

.text1-2{
background-color: #45454f;
width: 130px;	
height: 20px;		
float: left;	
font-size: 13px;	
color: #86868c;		
margin-top: 5px;		
text-align: center;	
border-right: 1px solid #86868c;	
}

.text1-3{
background-color: #45454f;	
width: 210px;	
height: 20px;		
float: left;	
font-size: 13px;	
color: #86868c;		
margin-top: 5px;		
text-align: center;		
}

.text2{
width: 800px;
height: 30px;
background-color: #45454f;	
float: left;
}

.text2-1{
background-color: #45454f;
width: 170px;	
height: 20px;	
float: left;	
font-size: 13px;	
color: #86868c;		
margin-top: 5px;	
text-align: center;
border-right: 1px solid #86868c;
}

.text2-2{
background-color: #45454f;
width: 130px;	
height: 20px;		
float: left;	
font-size: 13px;	
color: #86868c;		
margin-top: 5px;		
text-align: center;	
border-right: 1px solid #86868c;	
}

.text2-3{
background-color: #45454f;	
width: 210px;	
height: 20px;		
float: left;	
font-size: 13px;	
color: #86868c;		
margin-top: 5px;		
text-align: center;		
}

.text3{
width: 800px;
height: 29px;
background-color: #45454f;	
float: left;
}

.text3-1{
background-color: #45454f;
width: 310px;	
height: 20px;	
float: left;	
font-size: 13px;	
color: #86868c;		
margin-top: 5px;	
text-align: center;
border-right: 1px solid #86868c;
margin-left: 5px;
}

.text3-2{
background-color: #45454f;
width: 240px;	
height: 20px;		
float: left;	
font-size: 13px;	
color: #86868c;		
margin-top: 5px;		
text-align: center;	
border-right: 1px solid #86868c;	
}

/* footer css End **********************************************************************/

/* memberGetout css  Start **********************************************************************/

.getoutmain{
width: 1100px;
height: 250px;
margin-left: 400px;
padding-top: 100px;
background-color: white;
	
}

.getoutmain1{
width: 1100px;
height: 150px;
margin-left: 400px;
padding-top : -20px;
background-color: white;	
}

.getoutmain2{
width: 1100px;
height: 150px;
margin-left: 400px;
margin-top : 10px;
background-color: #191919;	
}

.getoutmain2-1{
color: white;
font-size: 11.5px;
padding-left: 15px;
padding-top: 20px;


}

.maintext1{
color: #bfbfbf;	
margin-top: 5px;
text-shadow: none;
font-weight: normal;
font-size: 24px;
line-height: 33px;	
}

.maintext2{
color: darkred;	
font-family: 'NanumGothic';
text-shadow: none;
font-weight: normal;	
font-size: 18px;
margin-top: 20px;
}

.maintext3{
font-size: 12px;
color: darkred;		
margin-top: 20px;
}

a{
	text-decoration: none;
	color: #18ba9b;
}
/* 호버 이벤트 삭제 */
a:hover{
	text-decoration: none;
	font-weight: normal;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

.getoutmain1-1{
padding-top: 20px;
font-size: 13.5px;
}

.getoutmain1-3{
background: #555;
color: #fff;
text-decoration: none;
font-size: 18px;
padding: 10px 25px;
cursor: pointer;
width: 120px;
height: 45px;
text-align: center;
font-size: 17.5px;
margin-top: 10px;
}

.getoutmain1-4{
background: #7f8c8d;
color: #fff;
text-decoration: none;
font-size: 18px;
padding: 10px 25px;
cursor: pointer;
width: 120px;
height: 45px;
text-align: center;
font-size: 17.5px;
margin-top: -45px;
float: left;
margin-left: 130px;
}
/* memberGetout css  End **********************************************************************/



/* memberIDPW css  Start **********************************************************************/

.idpwmain{
width: 100%%;
height: 800px;
background-color: #ececec;
}

.idpwmain2{
width: 1000px;
height: 600px;
margin-left: 460px;
padding-top: 200px;
background-color: white;	
}

.idpwmain3{
width: 1000px;
height: 70px;		
background-color: #f5f5f5;		
margin-top: -135px;
border-bottom: 1px solid #ddd;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.idpwmain3-1{
font-size: 27px;
margin-left: 160px;
color: #333;	
font-weight: 500;
padding-top: 15px;
}

.idpwmain4{
margin-top:100px;
margin-left: 160px;
width: 700px;
height: 200px;		
background-color: white;
}

.idpwmain4-1{
width: 700px;
height: 50px;		
background-color: white;	
border-bottom: 1px solid #ddd;		
}

.idpwmain4-1-1{
color: gray;	
margin-left: 20px;
padding-top: 15px;
}

.idpwmain4-2{
width: 200px;
height: 150px;
background-color: white;	
float: left;
}

.idpwmain4-2-2{
padding-left: 40px;	
padding-top: 60px;
color: gray;	
font-size: 17px;
}

.idpwmain4-3{
width: 500px;
height: 150px;
background-color: white;		
float: left;
}

.idpwmain4-3-1{
margin-top: 56px;	
width: 200px;
height: 30px;	
}

.idpwmain4-3-2{
width: 50px;
height: 32px;	
background: #e74c3c;
color: #fff;
font-weight: 400;
font-size: 14px;
margin-left: 210px;
margin-top: -35px;
text-align: center;
line-height: 30px;
cursor: pointer;
border: 1px solid #b86464;		
}

.idpwmain5-2{
width: 200px;
height: 50px;
background-color: white;	
float: left;
}

.idpwmain5-2-2{
color: gray;	
padding-left: 40px;	
padding-top: 30px;
font-size: 17px;
}

.idpwmain5-3{
width: 500px;
height: 50px;
background-color: white;		
float: left;
margin-top: 5px;
}

.idpwmain5-3-1{
margin-top: 20px;	
width: 200px;
height: 30px;		
}

.idpwmain6-3-1{
margin-top: 20px;	
width: 200px;
height: 30px;
top: 510px;
z-index: 999;
position: absolute;
}

.idpwmain5-3-2{
width: 70px;
height: 32px;	
background: #e74c3c;
color: #fff;
font-weight: 400;
font-size: 14px;
margin-left: 210px;
margin-top: -35px;
text-align: center;
line-height: 30px;
cursor: pointer;
border: 1px solid #b86464;		
}

.idpwmain6-2{
width: 200px;
height: 50px;
background-color: white;	
float: left;
}

.idpwmain6-2-2{
color: gray;	
padding-left: 40px;	
padding-top: 25px;
font-size: 17px;
}

.idpwmain6-3{
width: 500px;
height: 50px;
background-color: white;		
float: left;
}

.idpwmain6-3-1{
margin-top: 50px;	
width: 200px;
height: 30px;	
	
}

.idpwmain6-3-2{
width: 50px;
height: 32px;	
background: #e74c3c;
color: #fff;
font-weight: 400;
font-size: 14px;
margin-left: 210px;
margin-top: -35px;
text-align: center;
line-height: 30px;
cursor: pointer;
border: 1px solid #b86464;		
}

















.idpwmain5{
margin-top:50px;
margin-left: 160px;
width: 700px;
height: 200px;		
background-color: white;		
}

.idpwmain5-1{
width: 700px;
height: 50px;		
background-color: white;	
border-bottom: 1px solid #ddd;		
}

.idpwmain5-1-1{
color: gray;	
margin-left: 20px;
padding-top: 15px;	
}

.idpwmainbox2{
width: 100%;
height: 100px;	
background-color: #ececec;	
}


/* memberIDPW css  End **********************************************************************/









