@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.sch-left{
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	font-family: 'NanumGothic';
	width: 25%;
	float: left;
	height: 966px;
	border-right: 1px solid #efefef;
}

.sch-left-menu{
	width: 100%;
	height: 85px;
	padding-top: 5px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	line-height: 1.42857143;
	color: #333;
	background: #3ad195;
}

#sch-left-tripwith{
	border-radius: 5px;
	z-index: 999;
	position: absolute;
	top: 73px;
	width: 270px;
	left: 13px;
	background: rgb(105, 105, 105);
	display: none;	
}

#tripwith{
	margin-top:5px;
	float:left;
	width:22%;
	cursor:pointer;
	border:1px solid #efefef;
	background:#fff;
	border-radius:2px;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	margin-right: 10px;
	height:70px; 
}

.sch-ifm-main{
	width: 100%;
	height: 900px;
	background-color: purple;
}

.sch-city-list{
	
}

.sch-city-info{
	padding-left: 3%;
	width: 100%;
	border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 67px;
    overflow: hidden;
}

.city-menu-left{
	float: left;
}
.sch-city-one{
	float:left;
	width:53px;
	height:53px;
	padding-left:7px;
	background:#fff;
	padding-top:13px;
	border-radius:100px;
	border:3px solid #3ad195;
	cursor:pointer
}

.city-menu-right{
	margin-left: 5px;
	margin-top: 7px;
}

.sch-city-name{
	width: 35%;
	padding-left: 10px;
	padding-top: 7px;
	float: left;
	font-weight: bold;
}

.sch-city-date{
	font-size: 11px;
	font-weight: normal;
}

.open-ifm{
	float:left;
	border: 1px solid #efefef;
	background-color: white;
	width: 52px;
	height: 52px;
	border-radius: 8px;
	text-align: center;
	color: #3ad195;
}

.open-ifm-sel{
	float:left;
	border: 1px solid #efefef;
	background-color: #ee685a;
	width: 52px;
	height: 52px;
	border-radius: 8px;
	text-align: center;
	color: white;
}

.ifm-info{
	cursor: pointer;
	font-weight: bold;
	font-size: 24px;
	margin: 5px auto;
}



.del-sch{
	background: gray;
	height: 14px;
	width: 14px;
	border-radius: 7px;
	font-size:7px;
	padding:0;
	margin:0;
	vertical-align: middle;
	border: none;
	color: white;
}

.ifm-opener{
	position: absolute;
	top: 0;
	left: 14.3%;
	background-color: #ee685a;
	color: white;
	width: 85.7%;
	height: 966px;
	font-size: 16px;
	display: none;
}

.ifm-opener p{
	text-align: left;
	margin: 10px 20px;
	font-weight: bold;
}

.ifm-opener iframe{
	width: 99%;
	margin-top : 10px;
	height: 900px;
	background: white;
	border: none;
}


.city-btn-info{
	display: none;
}
.city-btn-info-sel{
	display: none;
}



























