@charset "UTF-8";

.header{
	background-color:black;
	height: 136px;
}
.container{
	background-color: yellow;
	height: 1000px;
}

.planner-title{
	color:black;
}
.main-contents{
	overflow: hidden;
}
.map{
	width:60%;
	height: 480px;
	background-color: purple;
	padding-top: 15px;
	text-align: center;	
	
	color: white;
	float: left;
}
.map-wrapper{
	
}
.map-peopleType{
	background-color: blue;	
	height:70px;
	width: 60px;
	float: left;
	margin-left: 15px;
}

.map-rootModify{
	background-color: blue;
	height:70px;
	width: 60px;
	margin-right:15px;
	float: right;
}

.map-startDate{
	clear:both;
	background-color: blue;
	height:30px;
	width: 140px;
	margin-top: 350px;	
	margin-left: 15px;
	float: left;
}
.map-date{
	background-color: blue;
	height:40px;
	width: 50px;
	margin-top: 340px;
	margin-right:15px;
	float: right;
}
.calendar-wrapper{

	float: left;
	padding: 20px;
	width: 40%;
}
.cal-table{
	border: 1px solid black;
	background-color:aqua;
	table-layout: auto;
	width: 100%;
}
.t-head{
	border: 1px solid black;
	font-size: 15px;
	font-weight: 500;
}
.t-head th{
	text-align: center;
		border-left:1px solid black;
}
.t-body td{
	text-align: right;
	border-left:1px solid black;
}
.t-bhead{
	
	font-size: 15px;
	font-weight: 500;
}
.t-bbody{
	background-color: pink;
	height: 40px;
}
.middle-contents{
	margin-top: 20px;
}
.spot{
	float: left;
	color: white;
	font-size: 20px;
	font-weight: 500;
	margin-left: 20px;
}
.schedule-line{
	width:50%;
	border: 2px dashed gray;
}
.nolist{
	list-style: none;
}

.nolist li{
	width: 220px;
	position: relative;
	height: 190px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	background: yellow;
	font-size: 18px;
}
.nolist-dot{
	position: absolute;
	top: 30px;
	left: 40px;
	margin-left: -5px;
	border-radius: 100px;
	width: 10px;
	height: 10px;
	background-color: #696969;
}
.nolist-line{
	position: absolute;
	top: 34px;
	left: 45px;
	width: 180px;
	margin-left: -5px;
	border-top: 2px dashed #696969;
}
.nolist-line2{
	position: absolute;
	top: 34px;
	left: 0px;
	width: 40px;
	border-top: 2px dashed #696969;
}
.nolist-region{
	position: absolute;
	top: 1px;
	left: 0px;
	width: 80px;
	text-align: center;
	font-size: 11pt;
	font-weight: 600;
}
.nolist-transfer{
	position: absolute;
	top: 17px;
	left: 150px;
	margin-left: -19px;
	width: 38px;
	text-align: center;
	height: 38px;
	border: 1px solid #696969;
	
	background-color: #fff;
/* 	border-radius: 25px; */

}
.nolist-transfer img{

	
	height: 35px;
	width: 35px;
}

.notlist-ballon{
	position: absolute;
	top: 73px;
	left: 150px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #efefef;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}

.notlist-ballon2{
	position: absolute;
	top: 73px;
	left: 40px;
	width: 180px;
	height: 90px;
	padding: 0 5px 5px 10px;
	text-align: left;
	background: #efefef;
}